.tile{
	background-color:white;
	height:15em;
	width:30%;
	margin:3px;
	display:inline-block;
}

#board {
	background-color:black;
	padding:10px;
	width:50em
	align:center;
}

/*.container {
	display:inline;
}*/